[Unit]
Wants=vboxdrv-setup.service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'getent group vboxusers >/dev/null || groupadd -r vboxusers'
ExecStart=/bin/sh /usr/lib/virtualbox/vboxdrv.sh start

[Install]
WantedBy=multi-user.target
